@import '../../theme/globals.scss';

.article_header_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: $m2;
  overflow: auto;
  flex: 1;
  padding: $m1 $m2;
  @media only screen and (min-width: 768px) {
    flex: 2;
    -moz-box-shadow: 25px 0 22px -45px rgba(233, 75, 60, 0.8);
    -webkit-box-shadow: 25px 0 22px -45px rgba(233, 75, 60, 0.8);
    box-shadow: 30px 0 48px -60px rgba(233, 75, 60, 0.8);
  }
  @media only screen and (max-width: 768px) {
    margin-bottom: $m3;
    padding: $m2 0;
  }

}

.article_header {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  border-bottom: 1px solid red;
  padding-bottom: $m4;
}

.article_header_left {
  @media only screen and (min-width: 768px) {
    flex: 1;
  }
}

.discipline_text {
  margin-bottom: $m3;
  margin-top: $m2;
  color: $primary;
  font-family: $bold;
  font-size: $medium;
  @media only screen and (max-width: 768px) {
    margin-top: 0;
    font-size: $small;
  }
}

.title {
  color: $themeRed;
  font-family: $bold;
  font-size: $h4;
  margin-bottom: $m1;
  @media only screen and (max-width: 768px) {
    font-size: $h5;
  }
}

.info_row {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-top: $m1_half;
}

.info_label {
  color: $primary;
  font-size: $small;
  a {
    text-decoration: inherit;
    color: inherit;
  }
}

.info_value {
  color: $primary;
  font-family: $bold;
  font-size: $small;
}

author_link {

}
