@import '../../theme/globals.scss';

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: $m4;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.profile {
  display: flex;

  flex-direction: column;
  flex: 1.5;

  @media only screen and (min-width: 768px) {
    justify-content: flex-start;
    margin-left: $m3;
  }

  div {
    margin-bottom: $m_half;
  }
}

.image {
  border-bottom: 1px solid $themeRed;
  margin-bottom: $m2;
  max-width: 280px;
  margin-top: $m3;
  @media only screen and (max-width: 768px) {
    align-self: center;
  }
}

.name {
  font-size: $h5;
  font-family: $bold;
  color: $primary;
  margin-bottom: $m1;
}

.country {
  font-size: $medium;
  color: $primary;
}

.title {
  font-size: $medium;
  color: $themeRed;
}

.articleList {
  @media only screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: $m3;
  }
}

.info {
  display: flex;
  flex: 2.5;
  flex-direction: column;
  margin: $m3 0;
  line-height: $baseMargin;
  font-size: $medium;

  @media only screen and (min-width: 768px) {
    -moz-box-shadow: 25px 0 22px -45px rgba(233, 75, 60, 0.8);
    -webkit-box-shadow: 25px 0 22px -45px rgba(233, 75, 60, 0.8);
    box-shadow: 30px 0 48px -60px rgba(233, 75, 60, 0.8);
    padding: $m2 $m3;
  }

  .title {
    font-family: $bold;
    font-size: $large;
    color: $primary;
    margin-bottom: $m2;
  }
}
