@import '../../theme/globals.scss';

.container {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;

  @media only screen and (min-width: 768px) {
    justify-content: flex-start;
  }

  div {
    margin-bottom: $m1;
  }
}

.image {
  margin-bottom: $m2;
}

.name {
  font-size: $h4;
  font-family: $bold;
}

.title {
  font-size: $medium;
}

.info {
  display: flex;
  flex-direction: column;
  margin: $m2 0;

  @media only screen and (min-width: 768px) {
    -moz-box-shadow: 25px 0 22px -45px rgba(233, 75, 60, 0.8);
    -webkit-box-shadow: 25px 0 22px -45px rgba(233, 75, 60, 0.8);
    box-shadow: 30px 0 48px -60px rgba(233, 75, 60, 0.8);
    padding: $m1 $m2;
  }

  .title {
    font-size: $h5;
    margin-bottom: $m2;
  }

  .text {
  }
}
