// MARGINS
$baseMargin: 2.5rem;
$m_half: 0.5rem;
$m1: 1rem;
$m1_half: 1.5rem;
$m2: 2rem;
$m2_half: 2.5rem;
$m3: 3rem;
$m3_half: 3.5rem;
$m4: 4rem;
$m4_half: 4.5rem;
$m5: 5rem;
$m5_half: 5.5rem;
$m6: 6rem;
$m6_half: 6.5rem;
$navbarHeight: 15vh;
$sideMargin: 6rem;
$smallMargin: 1.5rem;

// COLORS
$background: #fff;
$border: #EBEBEB;
$footer_background: #464646;
$primary: #464646;
$secondary: #5A5A5A;
$text: #000;
$themeRed: #e94b3c;
$white: #fff;

// FONT SIZES
$bold: 'Dubai-Bold';
$h1: 4rem;
$h2: 3.5rem;
$h3: 3rem;
$h4: 2.5rem;
$h5: 2rem;
$h6: 1.75rem;
$large: 1.5rem;
$medium: 1.25rem;
$small: 1rem;

// DIMENSIONS
$imageWidth: 15rem;
$imageHeight: 15rem;
