// MARGINS
$baseMargin: 2.5rem;
$m_half: 0.5rem;
$m1: 1rem;
$m2: 2rem;
$m3: 3rem;
$m4: 4rem;
$m5: 5rem;
$m6: 6rem;
$navbarHeight: 100px;
$sideMargin: 6rem;
$smallMargin: 1.5rem;

// COLORS
$background: #fff;
$border: #eee;
$footer_background: #464646;
$primary: #464646;
$secondary: #464f4f;
$text: #000;
$themeRed: #e94b3c;
$white: #fff;

// FONT SIZES
$bold: 'Tajawal-Bold';
$h1: 4rem;
$h2: 3.5rem;
$h3: 3rem;
$h4: 2.5rem;
$large: 1.5rem;
$medium: 1.25rem;
$small: 1rem;
