@import '../theme/globals.scss';

.content {
  padding: 0 $m1;
  margin-bottom: $m3;
}

.discipline_title {
  margin: $m4 0;
  text-align: center;
  font-family: $bold;
  color: $primary;
  font-size: $h4;

  @media only screen and (min-width: 768px) {
    text-align: right;
  }
}

.authors_list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (min-width: 768px) {
    row-gap: $m3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    justify-content: center;
    column-gap: $m5;
  }
}

.author_card {
  row-gap: $m1;
  display: grid;
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,
    12px 0 15px -20px rgba(233, 75, 60, 0.8),
    -12px 0 15px -20px rgba(233, 75, 60, 0.8);
  justify-content: center;
  text-decoration: none;
  color: $text;

  @media only screen and (max-width: 768px) {
    &:not(:last-child) {
      margin-bottom: $m3;
    }
  }

  @media only screen and (min-width: 768px) {
    padding: $m4;
  }

  &:hover {
    cursor: pointer;

    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,
      12px 0 15px -20px rgba(124, 21, 12, 0.8),
      -12px 0 15px -20px rgba(124, 21, 12, 0.8);
  }

  .author_image {
    width: 12rem;
    min-height: 12rem;
    border-bottom: 1px solid $themeRed;
    justify-self: center;
  }

  .author_name {
    font-size: $h6;
    color: $primary;
    font-family: $bold;
    justify-self: center;

    @media only screen and (min-width: 768px) {
      justify-self: right;
    }
  }

  .author_title {
    font-size: $small;
    color: $themeRed;
    justify-self: center;

    @media only screen and (min-width: 768px) {
      justify-self: right;
    }
  }

  @media only screen and (min-width: 768px) {
  }
}
