@import '../theme/globals.scss';

.content {
  padding: 0 $m1;
}

.discipline_title {
  margin: $m4 0;
  text-align: center;
  font-size: $h2;

  @media only screen and (min-width: 768px) {
    text-align: right;
  }
}

.authors_list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (min-width: 768px) {
    row-gap: $m3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    justify-content: center;
    column-gap: $m1;
  }
}

.author_card {
  row-gap: $m1;
  display: grid;
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,
    12px 0 15px -20px rgba(233, 75, 60, 0.8),
    -12px 0 15px -20px rgba(233, 75, 60, 0.8);

  @media only screen and (max-width: 768px) {
    &:not(:last-child) {
      margin-bottom: $m3;
    }
  }

  @media only screen and (min-width: 768px) {
    padding: $m4;
  }

  .author_image {
    width: 15rem;
    min-height: 15rem;
    border-bottom: 1px solid $themeRed;
    justify-self: center;
  }

  .author_name {
    font-size: $h5;
    justify-self: center;

    @media only screen and (min-width: 768px) {
      justify-self: right;
    }
  }

  .author_title {
    font-size: $large;
    justify-self: center;

    @media only screen and (min-width: 768px) {
      justify-self: right;
    }
  }

  @media only screen and (min-width: 768px) {
  }
}
