@import '../../theme/globals.scss';

.article_body_container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  overflow: auto;

  @media only screen and (min-width: 768px) {
    padding: $m3 $m2;
  }

  p {
    font-size: $medium;
    line-height: $baseMargin;
  }
}
