@import '../theme/globals.scss';

.divider_big,
.divider_small {
  position: relative;
  margin: $m3 0;

  line-height: $m1;
  color: #464646;

  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #464646;
    content: '';
  }

  &:after {
    display: inline-block;
    position: relative;
    background-color: #fcfcfa;
    padding: 0 $m_half;
    line-height: $m1_half;
    font-family: $bold;
    content: attr(data-content);
  }
}

.divider_big {
  height: $m5;
  text-align: center;

  &:after {
    font-size: $h4;
  }
}

.divider_small {
  height: $m1_half;

  &:after {
    font-size: $medium;
  }
}
