@import '../theme/globals.scss';

.footer {
  background: $footer_background 0% 0% no-repeat padding-box;
  color: $white;
  font-size: 1.5rem;
}

.container {
  margin: auto;
  padding: $m1 0;

  @media only screen and (min-width: 768px) {
    width: 1064px;
  }
}

.links_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    padding: $m2;
  }
}

.links_column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  a {
    font-size: $small;
    margin-bottom: $m_half;
    color: white;
    text-decoration: inherit;
    color: inherit;
  }

  .website_link {
    font-size: $large;
    margin-bottom: $m1;
  }

  @media only screen and (max-width: 768px) {
    margin-bottom: $m1;
  }
}

.footer_head {
  margin: $m3 0;
  @media only screen and (max-width: 768px) {
    margin: $m1 $m2;
  }
}

.footer_head_text {
  font-size: $medium;
  text-align: center;
}

.social_media_container {
  display: flex;
  justify-content: center;

  a:not(:first-child) {
    margin-right: 3.125rem;
  }
}

.social_media {
  width: 4rem;
  height: 4rem;
  margin-bottom: $m1;
}

.divider {
  border: 1px solid $white;
  margin: $m2 0;
}

.copyrights {
  font-size: $small;
  display: flex;
  justify-content: center;
}
