@import '../theme/globals.scss';

.footer {
  height: 568px;
  background: $footer_background 0% 0% no-repeat padding-box;
  color: $white;
  font-size: 1.5rem;
}

.container {
  width: 1064px;
  margin: auto;
  padding: 3.125rem 0;
}

.logo {
  width: 6rem;
  height: 6rem;
  margin: 2rem 0;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;

  a:not(:first-child) {
    margin-right: 5.625rem;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.social_media_container {
  a:not(:first-child) {
    margin-right: 3.125rem;
  }
}

.social_media {
  width: 4rem;
  height: 4rem;
}

.divider {
  border: 1px solid $white;
  margin: 3.125rem 0;
}

.copyrights {
  font-size: 1.875rem;
}
