@import '../theme/globals.scss';

.header {
  -moz-box-shadow: 0 25px 22px -45px rgba(233, 75, 60, 0.8);
  -webkit-box-shadow: 0 25px 22px -45px rgba(233, 75, 60, 0.8);
  box-shadow: 0 30px 48px -50px rgba(233, 75, 60, 0.8);
  padding-top: $m2;
  padding-bottom: $m2;
  height: $navbarHeight;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 $m3;

  @media only screen and (min-width: 768px) {
    width: 1064px;
  }
}

.logo {
  width: 6rem;
  height: 6rem;
}

.menu_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $secondary;
  padding-right: $m2;
  padding-left: $m2;
  height: $m4;
}

.menu_button_icon {
  width: 1.5rem;
  height: 1.5rem;
}
