@import '../theme/globals.scss';

.layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: $m3 $m1_half;

  @media only screen and (min-width: 768px) {
    width: 1064px;
    margin: $m3 auto;
  }
}
