@import '../theme/globals.scss';

.input {
  display: none;
}

.toggle_btn {
  display: block;
  position: relative;
  z-index: 10;
  cursor: pointer;

  .bar {
    transition: all 0.3s ease-in-out;
    margin: $m_half auto;
    background-color: $secondary;
    width: $m2;
    height: 2px;
  }
}

.nav {
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .list {
    display: flex;
    position: relative;
    top: 20%;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-bottom: $m1;
    list-style: none;
    align-items: center;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: flex-start;
      border-bottom: 1px solid $primary;
      width: 1064px;
    }

    .item {
      transform: translateY(50px);
      opacity: 0;
      margin-bottom: $m1;

      @media only screen and (min-width: 768px) {
        margin-left: $m4;
      }

      .link {
        display: block;
        transition: all 0.2s ease-in-out;

        text-decoration: none;
        color: $text;
        font-size: $large;

        &:hover {
          color: $themeRed;
        }
      }
    }
  }
}

.input:checked {
  & ~ .nav {
    visibility: visible;
    opacity: 1;

    .list {
      .item {
        transform: translateY(0px);
        opacity: 1;

        @for $i from 1 through 100 {
          $t: $i * 0.1;

          &:nth-child(#{$i}) {
            transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) #{$t}s;
          }
        }
      }
    }
  }

  & + .label.toggle_btn {
    .bar {
      background-color: $themeRed;

      &:nth-child(2) {
        transform: translateX(50px);
        opacity: 0;
      }

      &:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
      }

      &:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

.sub_nav {
  display: flex;
  position: relative;
  top: 20%;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  margin: $m2 auto;
  padding-bottom: $m1;
  list-style: none;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    width: 1064px;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: 768px) {
      align-items: flex-start;
      margin: 0;
      border: 0;
      max-width: 50%;
    }

    .item {
      margin: 0;

      .link {
        padding: 0;
        font-size: $small;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .list:first-child {
      border-left: 1px solid $primary;
      margin-left: $m3;
      padding-left: $m2;
    }
  }

  .cluster_title {
    font-size: $large;
    font-family: $bold;
  }

  .cluster_items {
    row-gap: $m2;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    column-gap: $m1;
    margin: $m1 auto;

    @media only screen and (max-width: 768px) {
      width: 70%;
      text-align: center;
    }

    @media only screen and (min-width: 768px) {
      column-gap: $m3;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
